.contact-content{
    display: block;
    /* height: 580px; */
    height: 100vh;
    margin-top: 30px;
    padding: 9px;
    /* background-color: white; */

    position: relative;
    overflow: hidden;

}

.contact-content::after{
    content:"";
    background-image: url('/image/home.svg.jpg');
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.3;
    z-index: -1;
}

